{% extends 'music/base.html' %}
{% block title %}Aura{% endblock %}
{% block body %}
  {% if all_albums %}
    <h3>Here are all my albums:</h3>
    <ul>
    {% for album in all_albums %}
      <li><a href="{% url 'music:details' album.id%}">{{ album.album_title }}</a></li>
        <div><a href ="{% url 'music:details' album.id%}">View details</a>
          <form method="POST" action="{% url 'music:album-delete' album.id %}">
     {% csrf_token %}<input type="submit" value="DELETE">
  </form>﻿
        <a href="">Favourite</a></div>&nbsp
    {% endfor %}
    </ul>
    {% else %}
      <h3>You dont have any albums</h3>
  {% endif %}
{% endblock %}
